
.rectangle{
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #2b343e;
}

.Jazz_text3 {
    width: 102px;
    height: 33px;
    margin: 2px 29px 7px 0;
    object-fit: contain;
}

.img-logo{
    float: right;
    width: 36px;
    height: 36px;
    margin: 0 0 6px 18px;
}

.fa-bell:before {
    content: "\f0f3";
    float: right;
}

.Home {
    width: 33px;
    height: 15px;
    margin: 0 7px 0 0;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ed008c;
  }

  .Services {
    width: 45px;
    height: 15px;
    margin: 0 7px;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ed008c;
  }

  .Service-One-API-Pyt {
    width: 138px;
    height: 15px;
    margin: 0 0 0 133px;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
  }

.Shape {
    width: 16px;
    height: 19px;
    margin: 10px 18px 13px 876px;
    background-color: #ffffff;
   
}
.Shape-arrow {
    width: 12px;
    height: 12px;
    margin: 1px 11px 2px 0;
    background-color: #ed008c;
  }

.rectangle-2{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    background-color:#ffffff;
    padding: 5px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.bg{
    background-color: white;
}

.rectangle-26{
    display: flex;
    margin: 10px;
    padding: 10pxpx;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}

.service{
    display: flex;
    padding: 10px;
    justify-content: space-between ;
}

.mask-copy{
    display: flex;
    justify-content: ;
    background-color: thistle;
    margin: 10px;
    padding: 10px;
}

.mask-copy button{
    justify-content: right;
}

.env{
    display: flex;
    justify-content: space-evenly;
}

.first-line{
    display: flex;
}

.second-line{
    display: flex;
}



.third-line{
    display: flex;
}

.forth-line{
    display: flex;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.grey-box{
    margin: 5px;
    
}