
.rectangle{
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #1C2833;
}

.rectangle-2{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    background-color: grey;
    padding: 5px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.bg{
    background-color: white;
}

.rectangle-26{
    display: flex;
    margin: 10px;
    padding: 10pxpx;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}

.service{
    display: flex;
    padding: 10px;
    justify-content: space-between ;
}

.mask-copy{
    display: flex;
    justify-content: ;
    background-color: thistle;
    margin: 10px;
    padding: 10px;
}

.mask-copy button{
    justify-content: right;
}

.env{
    display: flex;
    justify-content: space-evenly;
}

.first-line{
    display: flex;
}

.second-line{
    display: flex;
}



.third-line{
    display: flex;
}

.forth-line{
    display: flex;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.grey-box{
    margin: 5px;
    
}