*{
    font-family: lato;
}
body{
    margin: 0;
    
}
.rectangle{
    margin: 0;
    
    overflow: hidden;
    background-color: #2b343e;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.header-left{

}

.header-right{

}
/* .Jazz_text3 {
    width: 102px;
    height: 33px;
    margin: 2px 29px 7px 0;
    object-fit: contain;
    padding-inline-start: 5px;  
} */

.img-logo{
    float: right;
    width: 36px;
    height: 36px;
    margin: 0 0 6px 18px;
}


.notification{
    width: 1.5rem;
    margin: 0.5rem 0;
}

.Home {
    width: 33px;
    height: 15px;
    margin: 0 7px 0 0;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ed008c;
  }

  .Services {
    width: 45px;
    height: 15px;
    margin: 0 7px;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ed008c;
  }

  .Service-One-API-Pyt {
    width: 138px;
    height: 15px;
    margin: 0 7px;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
  }

  .Line {
    width: 8px;
    height: 14px;
    margin: 1px 7px 0;
    border: solid 1px #dddddd;
  }

.Shape {
    width: 16px;
    height: 19px;
    margin: 10px 18px 13px 876px;
    background-color: #ffffff;
   
}
.Shape-arrow {
    width: 1rem;
    margin: 0.25rem 0.68rem 0 0;
    fill: #ed008c;
  }

  .Service-One {
    /* display: flex;
    justify-content: space-between;
    font-family: Lato;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin: 0 0 0 15px;
    height: 40px;
    padding: 25px 0 0 0; */
    display: flex;
    justify-content: space-between;
    font-family: Lato;
    font-size: 1.5rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin: 0 0 0 1rem;
    /* height: 2.5rem; */
    padding: 1.56rem 0 0 0;
    /* overflow: hidden; */
    flex-wrap: wrap;

    
  }

  .service-icon{
      display: flex;
      padding: 0 0 0 1.5rem;

  }

  .view-delete-button{
    margin: 0 2rem 0 0;   
  }

  .btn{
      
      /* width: 130px; */
      height: 32px;
      /* margin: 23px 175px 3px 777px; */
      padding: 5px 19px 5px;
      border-radius: 100px;
      border: solid 1px #0a58c9;
      margin: 0 5px 0 5px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: #0a58c9;
      background-color: white;
  }

  .btn-pink{
    color: #ed008c;
    border: solid 1px #ed008c;
  }

  .service-text{
    margin: 0 0.5rem 0 0;
  }

  .Oval {
    width: 16px;
    height: 20px;
    padding: 4px 6px 3px;
    background-color: #e20074;
    border-radius: 50%;
  }
  
  .Shape-Copy-3 {
    width: 8px;
    height: 13px;
    background-color: #ffffff;
  }

  .list{
    margin:5px;
    
    overflow: hidden;
    display: flex;
    
  }

  .bg-list{
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #aaaaaa;
    padding: 1rem 1rem 1rem 2rem;
      
  }

  .bg-list-pink{
    color: #ed008c;
  }

.rectangle-2{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    background-color:#ffffff;
    padding: 5px;
}



ul{
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 0.25rem;
    overflow: hidden;
    flex-wrap: wrap;
}

li {
    float: left;
}

.bg{
    background-color: #f5f4f4
}

.rectangle-26{
    display: flex;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05); */
    background-color: #f5f4f4;
    justify-content: space-between;
    margin: 2.1875rem 1rem 0.5rem 1.56rem
}

.service{
    display: flex;
    padding: 10px;
    justify-content: space-between ;
}

.mask-copy{
    /* display: flex;
    justify-content: ;
    background-color: thistle;
    margin: 10px;
    padding: 10px;
    width: 1208px;
    height: 72px;
    margin: 16px 1px 24px 0;
    padding: 20px 20px 20px 24px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff; */
    
    display: flex;
    margin: 0 2.1875rem 1rem 2.1875rem;
    padding: 10px;
    /* width: 1208px; */
    /* height: 72px; */
    /* margin: 16px 1px 24px 0; */
    /* padding: 20px 20px 20px 24px; */
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color:#ffffff;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.mask-copy-text{
    width: 378px;
    height: 20px;
    margin: 6px 622px 6px 10px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #000000;
    flex-wrap: wrap;
}

.warning-sign{
    display: flex;
    align-items: center;
}

.warning{
    width: 1.2rem;
}
.mask-copy button{
    justify-content: right;
}

.middle-box{
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 15px;
}

.env{
    /* display: flex;
    height: 19px;
    margin: 30px 5px 17px 0;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--dark);
    align-items: center; */
    display: flex;
    /* height: 19px; */
    /* margin: 30px 5px 17px 0; */
    font-family: Lato;
    font-size: 1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--dark);
    align-items: center;
    margin: 1rem 0 1rem 1.5625rem;
    color: #2b343e;
    /* padding: 0 10px 0 15px; */
    flex-grow: 9;
}


.env-text{
    padding: 0 5px 0 0;
}
.env-icons{
    display: flex;
    flex-grow: 1;
    margin: 1rem 0 1rem 1.5625rem;
    /* padding: 0 1rem 0 1rem; */
    justify-content: space-evenly;
}

.repair-tool{
    width: 0.8rem;
    padding: 0.30rem 0 0 0.35rem;
    opacity: 0.2;
}

.menu-dots{
    width: 1.35rem;
}

.menu-line{
    width: 1.59rem;
}

.first-line{
    display: flex;
}

.second-line{
    display: flex;
}



.third-line{
    display: flex;
}

.forth-line{
    display: flex;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.grey-box{
    margin: 5px;
    
}

.prod{
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #008600;
}

.blue-color{
    color:#008eff;
}


.staging{
    font-family: Lato;
    font-size: 1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ff9400;
}


.shb{
    display: flex;
    
    align-items: center;
    
}
.shb-mid{
    display: flex;
    justify-content: center;
}

.shb-pink{
    
}

.three{
    font-size: 3rem;
}

.hour{
    font-family: Lato;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #050505;
    padding: 1rem 0.25rem;
}

.check-icon{
    width: 2rem;
    /* padding: 1rem 3rem; */
}

.check-class{
    padding: 1rem 3rem;
    margin: 0 0 0 1rem;
}

.minus-class{
    width: 2rem;
}
.three-hour-bottom{
    display: flex;
    justify-content: center;
}

.dep-time{
    padding: 1rem 2rem;
    opacity: 0.4;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.dep-stat{
    opacity: 0.4;
    font-family: Lato;
    font-size: 0.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding: 1rem 2rem;
}

.ic_send{
    width: 1.75rem;
    margin: 0.5rem;
}

.ic_logs{
    width: 1.5rem;
    margin: 0.5rem;
}

.ic_settings{
    width: 1.5rem;
    margin: 0.5rem;
}

.time-dis{
    display: flex;
    padding: 0 3rem 0 1.25rem;
}

.dep-pink{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shb-bottom-grey{
    /* width: 592px;
    height: 40px;
    margin: 30px 0 0;
    padding: 5px 234px 6px 235px;
    background-color: rgba(119, 129, 139, 0.1); */
    /* height: 40px;
    /* margin: 113px 0 0; 
    padding: 5px 234px 6px 235px;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    background-color: rgba(119, 129, 139, 0.1);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; */
    padding: 0.31rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(119, 129, 139, 0.1);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

}


.shb-bottom-pink{
    /* width: 592px;
    height: 40px;
    margin: 30px 0 0;
    padding: 5px 234px 6px 235px;
    background-color: rgba(119, 129, 139, 0.1); */
    /* height: 40px;
    
    padding: 5px 234px 6px 235px;
    justify-content: center;
    align-items: center;
    padding: 10px 180px; */
    background-color: #e20074;
    height: 2.75rem;

}


.rectangle-bottom{
    background-color: #f5f4f4;
    margin: 0.1875rem 1rem 0.5rem 1.56rem;
/*     
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; */
}

.bottom-box{
    /* max-width: 380px;
    margin: 10px;
    padding: 14px 0 0;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff; */
    
    margin: 10px;
    padding: 14px 0 0;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-bottom-left-radius: 3px;
    flex-grow: 1;
}

.Grey-QA{
    display: flex;
    flex-grow: 8;
}

.code-branch-icon{
    width: 0.8rem;
    padding: 0 0.5rem 0 1rem;
}

.Grey-shape{
    width: 15px;
    height: 14px;
    border: solid 1px #555555;
    background-color: #555555;

}

.Grey-text{
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #555555;
}

.Blue-QA{
    margin: 0 20px;
    padding: 0.5rem 0.25rem;
    border-radius: 8px;
    background-color: rgba(74, 144, 226, 0.1);
    flex-grow: 2;
}

.Blue-QA-text{
    height: 19px;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #008eff;
}


.second-half{
    /* margin: 2.1875rem 1rem 0.5rem 1.56rem; */
}

.second-half-box{
    /* max-width: 592px;
    max-width: 592px;
    height: 204px;
    margin: 0 24px 24px 0;
    padding: 14px 0 0;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;  */
    /* flex-grow: 5;
    max-width: 592px;
    max-width: 592px;
    height: 204px;
    margin: 0 24px 24px 10px;
    padding: 14px 0 0;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff; */
    
    /* max-width: 592px; */
    /* max-width: 592px; */
    /* height: 204px; */
    margin: 0 24px 24px 10px;
    padding: 14px 0 0;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    flex-grow: 1;
}





.container{
    display: flex;
}

.sec1{   
    /* margin: 15px;
    height: 25rem;
    max-width: 427px;
    flex-grow: 5; */
    margin: 1rem;
    height: 25rem;
    flex-grow: 5;
}

.top{
    padding: 8px 20px 8px 12px;
    margin: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #77818b;
    display: flex;
    justify-content: space-between;
}

.content{
    padding: 10px 0 10px 5px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
    line-height: 2rem;
    font-family: Lato;
    font-size: 0.75rem;
}

.top{
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

 .edit-icon{
    justify-content: right;
    width: 1rem;
} 

.outermost-container{
    display: flex;
}

.test-class {
    display: flex;
    margin: 5px 5px;
    
}

label {
    min-width: 117px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
}

.input {
    overflow-wrap: anywhere;
}

.con1{
    display: flex;
    flex-grow: 6;
    margin: 0 0 0 25px;
}

.con2{
    display: flex;
    flex-grow: 4;
    margin: 0 1rem 0 0;
} 



.bottom1{
    display: flex;
}


@media only screen and (max-width: 600px) {
    .bg {
        display: block;
    }
    .outermost-container{
        display: block;
    }
    .con1{
        display: block;
    }
    .con2{
        display: block;
    }
    .second-half{
        display: block;
    }
    .rectangle-26{
        display: block;
        background-color: #f5f4f4;
    }
    .rectangle-bottom{
        display: block;
    }
    .bottom1{
        display: block;
    }

  }
